
@media (max-width: 320px) {

}
body {
	background-color: red;
	font-family: 'News Cycle', sans-serif;
}

.modal-content {
	color: white;
}
#carousel-example-generic {
	width: 500px;
 }
 .photos {
 	margin: 0 auto;
 	width: 800px;
 }
.photos img{
	width: 250px;
	height: 250px;
}
.paragraph {
	display: inline-flex;
}
.first-paragraph {
	padding-left: 50px;
}
.second-paragraph {
	padding-left: 35px;
}
.third-paragraph {
	padding-left: 20px;
}
.elanor {
	margin-left: 15%;
}

