.link2
{
   border: solid 2px #aaa;
   border-radius: 3x;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background-color: #89ba38;
   color: #000;
   text-decoration: none;
   font-weight: bold;
   margin: 10px 3px 10px 3px;
   padding: 3px;
   display: inline-block;
}
.link2:hover { background-color: #acea11; }